<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaft.or/extras/spring-security">
    <head th:replace="/fragment/head :: head"> </head>
    <body>
        <header th:replace="/fragment/navbar :: header"> </header>
        <div class="card" id="cardTrue"  th:each="noticiaLista : ${noticiaLista}" th:if="${noticiaLista.alta != 1 }">           
            <img th:src="@{/imagen/imagen2/__${noticiaLista.id}__}" class="card-img-top" alt="archivo" >
            <h5 class="card-title" th:text="${noticiaLista.titulo}"></h5>
            <p class="card-text" th:text="${noticiaLista.cuerpo}"></p>
            <div class="card-body">
                <a th:href="@{/noticia/modificar/__${noticiaLista.id}__}" sec:authorize="hasRole('ADMIN')" class="card-link">Modificar</a>
                <a th:href="@{/noticia/alta/__${noticiaLista.id}__}"sec:authorize="hasRole('ADMIN')"  class="card-link">Alta</a>
                <a th:href="@{/noticia/baja/__${noticiaLista.id}__}" sec:authorize="hasRole('ADMIN')"  class="card-link">Baja</a>
                <a th:href="@{/noticia/eliminar/__${noticiaLista.id}__}" sec:authorize="hasRole('ADMIN')"  class="card-link">Eliminar</a>
            </div>
        </div> 
        
       <div class="card" id="cardFalse" style="width: 18rem; background-color: red" th:each="noticiaLista : ${noticiaLista}" th:if="${noticiaLista.alta != 0 }">           
            <img th:src="@{/imagen/imagen2/__${noticiaLista.id}__}" class="card-img-top" alt="archivo" >
            <h5 class="card-title" th:text="${noticiaLista.titulo}"></h5>
            <p class="card-text" th:text="${noticiaLista.cuerpo}"></p>
            <div class="card-body">
                <a th:href="@{/noticia/modificar/__${noticiaLista.id}__}" sec:authorize="hasRole('ADMIN')" class="card-link">Modificar</a>
                <a th:href="@{/noticia/alta/__${noticiaLista.id}__}"sec:authorize="hasRole('ADMIN')"  class="card-link">Alta</a>
                <a th:href="@{/noticia/baja/__${noticiaLista.id}__}" sec:authorize="hasRole('ADMIN')"  class="card-link">Baja</a>
                <a th:href="@{/noticia/eliminar/__${noticiaLista.id}__}" sec:authorize="hasRole('ADMIN')"  class="card-link">Eliminar</a>
            </div>
        </div> 
        <div th:replace = "/fragment/boots :: div"></div>
    </body>
</html>
