<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaft.or/extras/spring-security">
    <head th:replace="/fragment/head :: head"> </head>
    <body>
        <header th:replace="/fragment/navbar :: header"> </header>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div>
                        <h1>¿Quienes somos?</h1>
                    </div>
                </div>
                <div class="col">
                    2 of 2
                </div>
            </div>           
        </div>
        <div th:replace = "/fragment/boots :: div"></div>
    </body>
</html>
