/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/10/2022, 20:08:31
    Author     : Usuario
*/

body {
    background-color: #ccccff !important;
}
#imagenCabecera{
    margin-top: 5%;
}
.contenido{
    text-align:center;
    margin-bottom: 5%;
}
form{
    margin: 5%;
}
#botonEnviar {
    align-items: center;
    justify-content: center;
}
textarea.form-control {
    height: calc !important;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 1.25rem !important;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    margin-bottom: 2%;
    margin-top: 2%;
    padding-bottom: 2%;
    padding-top:  2%;
}
#registroCard{
    margin: 8%;
}