/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/10/2022, 20:08:31
    Author     : Usuario
*/

body {
    background-color: #ccccff !important;
}
#imagenCabecera{
    margin-top: 5%;
}
.contenido{
    text-align:center;
    margin-bottom: 5%;
}
.card{
    margin: 5%;
    border-radius: 1.5rem !important;
}
form{
    margin: 5%;
}
#botonEnviar {
  align-items: center;
  justify-content: center;
}
textarea.form-control {
    height: calc !important;
}